---
import AppNeonCuberLayout from "../../layouts/AppNeonCuberLayout.astro";
---

<AppNeonCuberLayout>
    <html lang="en">
        <head>
            <meta
                http-equiv="refresh"
                content="0;url=/others/braille-snake/"
            />
            <title>Redirecting...</title>
        </head>
        <body>
            <p>
                Redirecting to <a href="/others/braille-snake/"
                ></a>/others/braille-snake/
            </p>...</body
        >
    </html>
</AppNeonCuberLayout>
