---
import Layout from "../layouts/Layout.astro";
import AppCard from "../components/AppCard.astro";
import checkItLogo from "../assets/applis/checkit.png";
import francoQuizLogo from "../assets/applis/francoquiz.png";
import neonCuberLogo from "../assets/applis/neoncuber.png";
import "../styles/star-gradient.css";
---

<Layout title="Pierre Mollard" lang="en">
	<div
		class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 flex-grow flex-col flex items-center justify-center"
	>
		<div
			class="flex flex-col sm:flex-row justify-center sm:justify-evenly items-center gap-8 sm:gap-32"
		>
			<AppCard
				title="Check-It"
				description="Create daily objective then track and follow them."
				logo={checkItLogo.src}
				link="/check-it/check-it"
				colorLight="#E2E8F0"
				colorDark="#F9E79F "
			/>
			<AppCard
				title="FrancoQuiz"
				description="Learn France geography through different quiz."
				logo={francoQuizLogo.src}
				link="/francoquiz/francoquiz"
				colorLight="#E2E8F0"
				colorDark="#38BDF8 "
			/>
			<AppCard
				title="NeonCuber"
				description="Rubik's Cube like game where you match colors."
				logo={neonCuberLogo.src}
				link="/neoncuber/neoncuber"
				colorLight="#E2E8F0"
				colorDark="#0C0059"
			/>
		</div>
  </div>
  <canvas id="starfield"></canvas>
</Layout>
